$text-greyBlue50: #4D5E80;
$text-greyBlue83: #7D8FB3;
$text-greyBlue8C: #ADB8CC;
$text-perple44: #21014eb4;
$text-greyBlue36: #133986;
$text-white: #fff;

$bg-body: #E4E7F0;

$bg-white: #FFFF;
$bg-blueRgbDark: rgb(9, 69, 199);
$bg-greenRgbLight: rgb(15, 223, 171);

$bx-shadowBlack48: #363d4d08;